<div class="container view">
	<h2>Further information concerning the projects shown herein, along with source code links and ephemera</h2>
	<p><a href="https://github.com/TheWeepingGorilla/advent">This site: </a>
	I built this site using a MEAN stack. The mix of angular routing, regular links and page data selection via query strings was deliberate. Also tried my hand at design with custom fonts, a hand-chosen color pallete and even a bit of Sass.</p>
	<p><a href="https://github.com/TheWeepingGorilla/famosteroids">Famosteroids: </a>
	Famo.us sure looked like a thing for a minute, didn't it? I'd puttered around a bit with writing a game and when I saw this library had physics built in, I went for it. When I started writing another game (<a href="https://github.com/TheWeepingGorilla/spacewars">here</a>, not finished) I wrote my own collision detection and vector handling.
	</p>
</div>