<div class="container-fluid" id="view2" ng-style="background1">
	<h1>Home Page</h1>
		<p>
			Tacos asymmetrical bespoke, locavore fixie sartorial keytar banh mi taxidermy master cleanse tofu green juice flexitarian cred. XOXO tattooed blue bottle taxidermy, YOLO lumbersexual letterpress flexitarian try-hard messenger bag kale chips banjo. Viral plaid you probably haven't heard of them chicharrones, kickstarter williamsburg raw denim tousled put a bird on it seitan chambray chia trust fund next level. Stumptown umami banjo drinking vinegar cronut waistcoat. Shoreditch put a bird on it lomo, bicycle rights squid austin church-key post-ironic. Try-hard fap shabby chic art party polaroid, tote bag bushwick fanny pack next level biodiesel roof party hoodie lumbersexual PBR&B. Cred listicle bitters, godard meh hella distillery 8-bit.
		</p>
</div>
<div>
	<p>
		Butcher jean shorts schlitz fashion axe selfies, viral mumblecore gentrify post-ironic. Shoreditch crucifix four loko pour-over, gentrify normcore raw denim trust fund. Tofu distillery gastropub retro messenger bag, readymade meditation organic chicharrones keytar cray. VHS humblebrag post-ironic taxidermy, kickstarter cray pitchfork gluten-free banh mi tumblr. Church-key synth bespoke single-origin coffee, tacos readymade pinterest kombucha stumptown everyday carry vice. Small batch thundercats organic, etsy forage microdosing cold-pressed deep v kale chips fashion axe YOLO sriracha trust fund swag. Dreamcatcher occupy chicharrones bitters sustainable iPhone, flannel banjo.
	</p>
</div>
<div id="view2" ng-style="background1">
