<div class="container">
  <h2>{{ space.name }}</h2>
  Name:
  <br>
  <input type="text" data-ng-model="filter.name"></input>
  <br>
  <ul>
    <li data-ng-repeat = "space in spaces | filter : filter.name ">
      {{ space.description }} - {{ space.location }} - {{ space.allowedDirections }}
    </li>
  </ul>
  <br>
  Customer Name:
  <input type="text" data-ng-model="newCustomer.name"></input>
  <br>
  Customer City:
  <input type="text" data-ng-model="newCustomer.city"></input>
  <br>
  <button data-ng-click="addCustomer()">Add Customer</button>
  <br>
  <a href="#/View2">View2</a>
</div>