<div class="container" id="view2">
	<h2>An Explanation of This Curious Collection Of Demonstrations Presented For The World Wide Web Using The Very Latest In Javascript Technology, a.k.a My Home Page</h2>
	<p>
		Some things can be learned by reading about them, or hearing about them from a friend, or by a visit to youtube. One can discover all sorts of interesting facts about antique hunting, the mating habits of wild turkeys, or the monetary policy of the Federal Reserve merely by sitting and paying attention while your brain does the hard work. One can even enjoy a snack and a beverage while doing so.
	</p>
	<p>
		Programming is not one of those things. Yes, one can in fact (and is often required to) both eat and drink while programming, but it is not a spectator sport. Programming is something you have to roll up one's notational sleeves for. You have to dive in, muddle one's way through, overcome fustration, and build a house of knowledge, one brick at a time.
	</p>
	<p>
	  Everyone has their own way of building this house. Mine is to start with a tutorial or video overview while taking careful notes. But this is never enough; tutorials, as I have discovered any number of times, always leave out vital components needed for real world projects, and are often written by people with a shaky grasp of the technology and rudimentary notions of pedagogy. That makes them brittle; they break in the strong wind of real life use when they need to bend like bamboo. So nowadays, I build projects with my newly acquired skills. These projects are generally games, because games are pretty much guaranteed to be more interesting than a To-Do List.
	</p>
	<p>
		All of which is in explanation of why I have here a small collection of retro-inspired games and interesting things along with the usual bio, Linkedin and Github references (on the About Me page) and this rather prolix introduction. Because these projects are a portfolio. Because I believe Javascript is the future- and because, even when inching one's way up an icy and treacherous learning curve, it's still mad fun to program.
	</p>
	<p>Go ahead, click up there.</p>
</div>

